NetBeansProjects/StockWsClient/src/conf/xml-resources/web-service-references/Stockws/wsdl/localhost_8080/Stockws/Stockws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="Stockws">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/Stockws/Stockws?xsd=1"/>
</xsd:schema>
</types>
<message name="ingresarProducto">
<part name="parameters" element="tns:ingresarProducto"/>
</message>
<message name="ingresarProductoResponse">
<part name="parameters" element="tns:ingresarProductoResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="consultarProductos">
<part name="parameters" element="tns:consultarProductos"/>
</message>
<message name="consultarProductosResponse">
<part name="parameters" element="tns:consultarProductosResponse"/>
</message>
<message name="editarProducto">
<part name="parameters" element="tns:editarProducto"/>
</message>
<message name="editarProductoResponse">
<part name="parameters" element="tns:editarProductoResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="buscarProductoCompleto">
<part name="parameters" element="tns:buscarProductoCompleto"/>
</message>
<message name="buscarProductoCompletoResponse">
<part name="parameters" element="tns:buscarProductoCompletoResponse"/>
</message>
<portType name="Stockws">
<operation name="ingresarProducto">
<input wsam:Action="http://soap/Stockws/ingresarProductoRequest" message="tns:ingresarProducto"/>
<output wsam:Action="http://soap/Stockws/ingresarProductoResponse" message="tns:ingresarProductoResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://soap/Stockws/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://soap/Stockws/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
<operation name="consultarProductos">
<input wsam:Action="http://soap/Stockws/consultarProductosRequest" message="tns:consultarProductos"/>
<output wsam:Action="http://soap/Stockws/consultarProductosResponse" message="tns:consultarProductosResponse"/>
</operation>
<operation name="editarProducto">
<input wsam:Action="http://soap/Stockws/editarProductoRequest" message="tns:editarProducto"/>
<output wsam:Action="http://soap/Stockws/editarProductoResponse" message="tns:editarProductoResponse"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://soap/Stockws/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://soap/Stockws/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
</operation>
<operation name="buscarProductoCompleto">
<input wsam:Action="http://soap/Stockws/buscarProductoCompletoRequest" message="tns:buscarProductoCompleto"/>
<output wsam:Action="http://soap/Stockws/buscarProductoCompletoResponse" message="tns:buscarProductoCompletoResponse"/>
</operation>
</portType>
<binding name="StockwsPortBinding" type="tns:Stockws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ingresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProductoCompleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Stockws">
<port name="StockwsPort" binding="tns:StockwsPortBinding">
<soap:address location="http://localhost:8080/Stockws/Stockws"/>
</port>
</service>
</definitions>